/* ESTILO GLOBAL */

* {
  font-family: "Montserrat", sans-serif;
}

.q-page-container {
  background-color: #f9f9f9;
  font-size: 14px;
  padding-left: 190px !important;
}

h6 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  color: #616161;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

label {
  color: #616161;
}

.q-btn {
  border-radius: 25px;
  color: #fff;
  background-color: #009949;
  transition: 0.3s all ease-in-out;
}

.q-btn:hover {
  background-color: #02ed88;
}

/* MENU LATERAL */
.q-drawer {
  background-color: #ecf0f3;
}

/*
Atenção - 200px - estilo inline removido do q-drawer dentro do componente MainLayout e adicionado aqui, devido a um warning no console do navegador.
*/
aside {
  width: 200px !important;
}

/*  CSS GERAL CAMPO DE FORMULÁRIO */
.q-col-gutter-y-xl > *,
.q-col-gutter-xl > * {
  padding-top: 0px;
}

.q-input,
.q-textarea {
  background-color: #ededed;
  border-radius: 15px;
  padding-left: 5px;
}

.q-field--standard .q-field__control:before {
  border-bottom: none;
}

.q-field--with-bottom {
  padding-bottom: 5px;
}

.q-field__bottom--animated {
  bottom: 25px;
}

.filter {
  background-color: #ededed;
  border-radius: 15px;
  padding-left: 10px;
}

/* Background-color do input do q-select */
:root {
  --q-dark: #d9d9d9;
}

.q-list--dark,
.q-item--dark {
  color: #333;
  border-color: rgba(255, 255, 255, 0.28);
}

.q-chip--dense {
  background-color: #fff;
  padding: 20px;
}

/*  CSS LOGO */
.logotipo {
  color: #616161;
  font-weight: bold;
  font-size: 28px;
}

/* Estilos para as páginas de competências e elementos */

.spacing-top {
  height: 100px; /* ou a altura desejada */
}

.q-list.custom-q-list .q-item.custom-q-item {
  color: #616161;
  font-weight: bold;
  border-radius: 15px;
  background-color: #f7f7f7;
  padding-inline: 50px;
  text-align: center;
  transition: 0.3s all ease-in-out;
}

.q-list.custom-q-list .q-item.custom-q-item:hover {
  color: #f7f7f7;
  background-color: #02ed88;
}

.container-competencias,
.container-elementos {
  min-height: 300px;
  height: auto;
  width: 100%;
  background-color: #ededed;
  border-radius: 15px;
  padding-bottom: 15px;
}

.q-page {
  background-color: #f9f9f9;
}

.container-competencias-lista {
  margin-left: 8px;
}

.btn-defalt {
  height: 40px;
  width: 110px;
}

.custom-padding {
  padding-left: 20px; /* Ajuste o valor conforme necessário */
  padding-right: 20px; /* Ajuste o valor conforme necessário */
}

.transparent-card {
  background-color: rgba(255, 255, 255, 0); /* Totalmente transparente */
  border: none; /* Remove a borda */
  box-shadow: none; /* Remove qualquer sombra */
}

.close-icon {
  cursor: pointer;
  color: #333;
  font-size: 24px; /* Ajuste o tamanho do ícone conforme necessário */
}

#custom-text-color,
.custom-dropdown-icon-color .q-icon {
  color: #fff;
}

/* configuração  para o scroll */
.scrollable-select {
  max-height: 150px;
  overflow-y: auto;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: none;
  margin: 20px;
}

.scroll::-webkit-scrollbar {
  width: 5px;
  background-color: none;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(97, 97, 97, 0.5);
}

/* CSS da Página de Busca */
.btn-search .q-radio__inner {
  font-size: 24px;
}

.btn-search .q-radio,
.btn-visited,
.btn-select .q-field__control {
  color: #616161;
  font-weight: bold;
  border-radius: 25px;
  background-color: #f7f7f7;
}

.btn-search .q-radio,
.btn-visited {
  transition: 0.3s all ease-in-out;
  padding: 10px;
}

/* Testando */

.btn-search .q-radio:hover {
  color: #f7f7f7;
  background-color: #02ed88;
}

.btn-search .q-radio--dense .q-radio__label {
  padding-left: 5px;
}

.btn-pagination .bg-black {
  background-color: #656565 !important;
}

.btn-pagination .text-black {
  color: #fff !important;
}

.btn-select {
  width: 180px;
}

@media screen and (max-width: 1022px) {
  /*
    Atenção - 200px - estilo inline removido do q-drawer dentro do componente MainLayout e adicionado aqui, devido a um warning no console do navegador.
  */
  .q-page-container {
    padding-left: 0px !important;
  }

  .container-competencias-lista {
    width: 80%;
    display: block;
    margin: 10px auto;
  }

  .q-btn {
    width: 100%;
  }
}
